#patient-information {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: top;
  padding: 1em;
  background-color: #d4eaf8;
  border-radius: 0.5em;
  margin-top: 1em;
}

.info-text-box {
  font-weight: bold;
  /* font-size: 1.2em; */
}

#patient-photo {
  border: 2px solid #396db5;
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
}

.edit-wrapper {
  gap: 2em;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.info-label {
  display: block;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

#discharge-notes-textarea {
  width: 450px;
  height: 150px;
  resize: none;
  padding: 0.5em;
  border-radius: 0.25em;
}

.discharge-disclaimer {
  font-size: 0.9em;
  color: #555;
}

#confirm-discharge-button {
  margin: 1em 0em 0.5em 0em;
  padding: 0.5em 1em;
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #396db5;
  border: none;
  color: white;
  &:hover {
    background-color: #2c5490;
  }
}
